body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f6fa;
}

.container {
  padding: 20px;
}

.cards {
  display: flex;
  gap: 15px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
div{
  background-color: #007bff;
}

.card h1 {
  margin: 10px 0 0;
}

.alerta {
  border-left: 5px solid red;
}
a{
  text-decoration: none;
  color: #565656ce;
  font-weight: bold;
}
nav a:hover {
  color:#007bff
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

 nav {
  background: none;
  border: none;
  font-size: 14px;
}