<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <div class="container">
      <div>
        <h2 style="margin: 0 45%;">HORARIOS</h2>
      </div> 
    </div>
     <div class="menu">
    <nav>
      <li><a href="inicio.html">Inicio</a></li>
      <li><a href="profesores.html">Profesores</a></li>
      <li><a href="notificaciones.html">Notificaciones</a></li>
    </nav>
  </div>
    
</body>
</html>