<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="../css/estilo.css">

</head>
<body>

  <div class="container">
    <h2 style="margin: 0 45%;">INICIO</h2>
    <h2 style="margin: 10px 25%;">RESUMEN</h2>
    <div class="cards">
      <div class="card">
        <p>Asistencias hoy</p>
        <h1>42</h1>
      </div>

      <div class="card alerta">
        <p>Faltantes hoy</p>
        <h1>03</h1>
      </div>

      <div class="card">
        <p>Clases cubiertas</p>
        <h1>02</h1>
      </div>
    </div>
  </div>

  <!-- Menú inferior -->
  <div class="menu">
    <nav>
      <li><a href="horarios.html">Horarios</a></li>
      <li><a href="profesores.html">Profesores</a></li>
      <li><a href="notificaciones.html">Notificaciones</a></li>
    </nav>
  </div>

</body>
</html>